body
{
  background-color: #063e54;
   margin: 0;
   height: 699px;
   width: auto;
   background: url('../image/iceLand.jpeg') no-repeat;
   background-size: 100% 100%

}

p{
   text-align: left;
   padding-left: 2px;
   letter-spacing: 2px;
}

#all
{

}

.contact-container{
   display: flex;
   flex-direction: column;
   margin-left: 20%;

}

.contact-way{
   background: url('../image/kuang.png') no-repeat; 
   width: 140px;
   height:80px;
   background-size:100% 100%;
   
}

.contact-way p{

   font-size: 10px;
   margin-top: 25px;
   margin-left: 15px;
   color: #333;
   word-break:break-all; 
   width: 100px;   
}

.all-container{
   display: flex;
   flex-direction: row;
   padding-top: 50px;

}

.img-container
{
   display: flex;
   flex-direction: column;
   width: 100px;
}

.img-container img{
   width: 60px;
   height: 60px;
   padding: 10px;
}


.container{
   color: #333333;
   width:400px;
   height:400px;
   background-color:#1eacf9;
   opacity:0.8;
   border-radius: 10px;
   box-shadow: 10px 10px 5px #888888;
animation: myfirst 5s;
}

.horizon{
   width:100%;
   height:2px;
   background-color:#fdff94;
   vertical-align:middle;
   position:relative;
   margin:0 auto;
   z-index:-999;

}

.title{
	text-align: left;
	letter-spacing: 3px;
	padding-left: 15px;

}

.passage{
   margin-bottom: 50px;
   padding: 15px;
}

.enter{
   text-align: center;
   color: #fff;
   margin:75px auto;
   font-size: 15px;
   width: 150px;
   padding:15px;
   border: 1px solid #fff;
   border-radius: 10px;

}

@keyframes myfirst
{
0%   {opacity: 0;}

100% {opacity :1;}
}

